:root {
  --base-color: #000;
  --second-color: #fff;
}

body {
  background-color: $--base-color;
  margin: 0;
}

h1 {
  color: $--second-color;
}

.items-list {
  padding-left: 0;
  list-style-type: none;

  li {
    border-top: 2px solid $--second-color;
    font-size: 18px;
    color: $--second-color;
    padding: 20px 0;

    @include for-md {
      font-size: 24px;
      padding: 30px 0;
    }

    @include for-xl {
      font-size: 24px;
      padding: 35px 0;
    }
  }

  @include for-md {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(50% - 10px);

      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(even) {
        margin-left: 10px;
      }
    }
  }
}

.section {
  padding: 60px 0;

  @include for-md {
    padding: 80px 0;
  }

  @include for-xl {
    padding: 120px 0;
  }
}

.container {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  @include for-ssm {
    max-width: 400px;
  }

  @include for-sm {
    max-width: 540px;
  }

  @include for-md {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-lg {
    max-width: 960px;
  }

  @include for-xl {
    max-width: 1140px;
  }

  @include for-xxl {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.logo {
  img {
    width: 120px;
  }

  a {
    display: flex;
  }
}


.border-bottom {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: $--second-color;
  }
}

.border-none {
  border: none;
}

/** ----- buttons style ----- **/
.btn {
  border: 2px solid $--second-color;
  background-color: $--base-color;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 25px 0;

  a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: $--second-color;
  }

  @include for-md {
    font-size: 16px;
  }

  i {
    font-size: 14px;
    margin-left: 10px;
    transition: .5s ease-in-out;

    &::before {
      color: $--second-color;
    }
  }

  &:hover {
    cursor: pointer;

    i {
      transform: translateX(10px);
    }
  }
}

.btn-back {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: $--second-color;
  background-color: $--base-color;
  margin: 10px 0;

  @include for-md {
    font-size: 16px;
    margin: 25px 0;
  }

  i {
    font-size: 14px;
    margin-right: 10px;
    transition: .5s ease-in-out;

    &::before {
      color: $--second-color;
    }
  }

  &:hover {
    cursor: pointer;

    i {
      transform: translateX(-10px);
    }
  }
}

.section-mover {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 0 40px;
  margin-left: auto;

  span {
    font-size: 14px;
    font-weight: 600;
    color: $--second-color;

    @include for-md {
      font-size: 16px;
    }
  }

  i {
    font-size: 14px;
    margin-left: 25px;
    transition: 0.5s ease-in-out;

    &::before {
      color: $--second-color;
    }
  }

  &:hover {
    cursor: pointer;

    i {
      transform: translateY(5px);
    }
  }
}

.move-up-button {
  width: 56px;
  height: 56px;
  border: 2px solid $--second-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;

  @include for-md {
    right: 60px;
    bottom: 60px;
  }

  &:hover {
    cursor: pointer;

    i {
      transform: translateY(-10px);
    }
  }

  i {
    font-size: 18px;
    transition: 0.5s ease-in-out;

    &::before {
      color: $--second-color;
    }
  }
}
