.mode-switcher {
    background-color: $--second-color;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    i {
        font-size: 16px;
        color: $--base-color;
    }
}