.footer {
  background-color: rgba($--light-grey, 0.2);

  .footer-section {
    padding: 40px 0;
    border-bottom: 2px solid $--second-color;

    @include for-md {
      padding: 60px 0;
    }
  }

  .footer-layout {
    display: flex;
    gap: 30px;
    flex-direction: column;

    @include for-xl {
      flex-direction: row;
    }
  }

  .footer-column {
    width: 100%;
    text-align: center;

    @include for-xl {
      width: 33.3%;
      text-align: unset;
    }
  }

  .section {
    padding-top: 120px;
  }

  /** footer navigation menu **/
  .nav-menu-footer-items {
    border-right: none;
    background-color: transparent;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .el-menu-item {
      color: $--second-color;
      font-size: 16px;
      font-weight: 600;
      padding-left: 0 !important;
      line-height: 1.5;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    @include for-md {
      height: auto;
      flex-direction: row;
      justify-content: center;
    }

    @include for-xl {
      flex-direction: column;
      height: 170px;
      justify-content: unset;
      align-items: start;
    }
  }

  /** footer contact **/
  .footer-contact {
    h3 {
      color: $--second-color;
      font-size: 20px;
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      margin: 5px 0;
      line-height: 1.3;

      @include for-md {
        font-size: 30px;
      }

      @include for-xxl {
        font-size: 45px;
      }
    }

    span {
      color: $--second-color;
      font-size: 20px;
      font-weight: 400;
      border-bottom: 1px solid $--second-color;

      @include for-md {
        font-size: 25px;
      }

      @include for-xxl {
        font-size: 30px;
      }
    }
  }
}

.copyright {
  padding: 40px 0;

  .footer-layout {
    align-items: center;
  }

  @include for-md {
    padding: 60px 0;
  }

  .logo a {
    justify-content: center;

    @include for-xl {
      justify-content: start;
    }
  }

  p {
    font-size: 12px;

    @include for-md {
      font-size: 16px;
    }

    @include for-xl {
      text-align: end;
    }
  }
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .social-media-item {

    a {
      color: $--second-color;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;

      @include for-md {
        font-size: 16px;
      }
    }

    .separator {
      color: $--light-grey;
      margin: 0 15px;
      font-weight: 600;
    }
  }
}