.icon-window:before {
  content: "\e902";
  color: #fff;
}
.icon-upload:before {
  content: "\e903";
  color: #fff;
}
.icon-tag:before {
  content: "\e904";
  color: #fff;
}
.icon-refresh:before {
  content: "\e905";
  color: #fff;
}
.icon-phone:before {
  content: "\e906";
  color: #fff;
}
.icon-cmd:before {
  content: "\e907";
  color: #fff;
}
.icon-branch:before {
  content: "\e908";
  color: #fff;
}
.icon-ar-vr:before {
  content: "\e909";
  color: #fff;
}
.icon-arrow-up:before {
  content: "\e90d";
  color: #fff;
}
.icon-arrow-left:before {
  content: "\e90c";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e90a";
  color: #fff;
}
.icon-arrow-down:before {
  content: "\e90b";
  color: #fff;
}
.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}