.portfolio {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 40px;

  @include for-md {
    gap: 20px;
    padding-top: 60px;
  }
}

.portfolio-header {
  span {
    color: $--second-color;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;

    @include for-md {
      font-size: 50px;
    }

    @include for-xl {
      font-size: 70px;
    }
  }

  p {
    line-height: 1.2;

    @include for-xl {
      max-width: 440px;
    }
  }

  @include for-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.portfolio-item {
  width: calc(50% - 5px);

  .portfolio-item-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 185px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .portfolio-item-title {
    display: flex;
    align-items: center;

    h3 {
      color: $--second-color;
      font-size: 16px;
      font-weight: 700;
      text-transform: capitalize;
    }

    i {
      font-size: 14px;
      margin-left: 10px;
      transition: 0.5s ease-in-out;

      &::before {
        color: $--second-color;
      }
    }

    &:hover {
      i {
        transform: translateX(10px);
      }
    }
  }

  .portfolio-item-description {
    p {
      color: $--light-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  @include for-ssm {
    .portfolio-item-img {
      height: 250px;
    }
  }

  @include for-sm {
    .portfolio-item-img {
      height: 370px;
    }
  }

  @include for-md {
    width: calc(50% - 10px);

    .portfolio-item-img {
      height: 430px;
    }
  }

  @include for-lg {
    width: calc(25% - 15px);

    .portfolio-item-img {
      height: 320px;
    }
  }

  @include for-xl {
    .portfolio-item-img {
      height: 390px;
    }
  }

  @include for-xxl {
    .portfolio-item-img {
      height: 420px;
    }
  }
}