/** ----- Typography styles ----- **/
h1 {
  color: $--second-color;
  font-size: 40px;
  line-height: 1;
  text-align: start;
  font-weight: 700;
  margin: 20px 0;

  @include for-md {
    font-size: 70px;
  }

  @include for-xl {
    font-size: 150px;
  }
}

h2 {
  color: $--second-color;
  font-size: 40px;
  line-height: 1;
  text-align: start;
  font-weight: 700;
  margin: 20px 0;
}

/** paragraphs types **/
.content {
  text-align: start;
}

.label {
  text-align: start;
}

.text-dark {
  color: $--dark-grey;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0;

  @include for-md {
    font-size: 14px;
  }
}

.text-deep {
  color: $--light-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 5px 0;

  @include for-md {
    font-size: 16px;
  }
}

.text-normal {
  color: $--second-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 5px 0;

  @include for-md {
    font-size: 24px;
  }
}

.text-obvious {
  color: $--second-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0;

  @include for-md {
    font-size: 50px;
  }

  @include for-xl {
    font-size: 70px;
    margin: 0;
  }
}